// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_image{
    height: 500px;
    width: 800px;
    background-image: image-url("top.jpg"); 
    background-size:cover;
    float: left;
    box-shadow: inset 0 0 15px 15px white;
}

.site_title{
    font-size: 60px;
    padding-top: 120px;
    padding-left: 850px;
    font-weight: bold;
}
