<div class="container">
    <div class="row">
        <div class="top_image"></div>
        <div class="site_title">Matchday</div>
        <div class="regist_text">＼ 今すぐかんたん登録 ／</div>
        <%= link_to(new_user_registration_path) do %>
            <div class="regist_btn"><p>はじめる</p></div>
        <% end %>
        <div class="info_text">既婚者または20歳未満の方はご利用になれません。</div>
        <div class="title_text">Matchdayの使い方</div>
        <div class="title_info">Matchdayの使い方は簡単。マッチングからデートまでのステップをご紹介します。</div>
        <div class="explanation_title">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> まずは理想のお相手を探す
        </div>
        <div class="explanation_text">
            検索条件設定を活用して理想のお相手を探しましょう。
            住まい、年齢から、あなたに合ったお相手を探すことができます。
        </div>
        <div class="explanation_title">
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> 気になるお相手にいいね！を送る
        </div>
        <div class="explanation_text">
            気になるお相手を見つけたら、いいね！ボタンで「いいね！」を送りましょう。
        </div>
        <div class="explanation_title">
           <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> マッチング後、デートを予約
        </div>
        <div class="explanation_text">
            お相手から、「いいね！ありがとう」が送られてきたらマッチング！その後、デートの予約ができるようになります。
        </div>
        <div class="title_text">Matchdayが選ばれている理由</div>
        <div class="title_info">Matchdayがお客様に選ばれ、多くのマッチングを生み出した理由をご説明します。</div>
        <div class="explanation_title">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 検索機能で、理想のお相手を探しやすい。
        </div>
        <div class="explanation_text">
            住まい、年齢など、細かく検索項目を設定できるので、理想のお相手が見つかります。
        </div>
        <div class="explanation_title">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 共通の趣味や興味でつながる！
        </div>
        <div class="explanation_text">
            プロフィール項目に、自分の趣味や、好きなものを登録しアピールしましょう。<br>
            あなたとピッタリの価値観を持つお相手かどうかが、ひと目でわかります。
        </div>
                <div class="explanation_title">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 安心・安全をお約束します
        </div>
        <div class="explanation_text">
            活動はニックネームでの登録で、実名はでません。安心してご利用いただけます。
        </div>
        <div class="bottom_regist_text">＼ 今すぐかんたん登録 ／</div>
        <%= link_to(new_user_registration_path) do %>
            <div class="bottom_regist_btn"><p>はじめる</p></div>
        <% end %>
    </div>
</div>