/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
    /*  リセット用CSS  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monotype Corsiva;
}

.page_title{
    margin-top: 30px;
    margin-bottom: 50px;
}

.top_image{
    height: 900px;
    width: 800px;
    background-image: image-url("top.jpg"); 
    background-size:cover;
    float: left;
}

.site_title{
    font-size: 50px;
    padding-top: 120px;
    padding-left: 850px;
}

footer{
    margin-top: auto;
    height: 150px;
    background-color: #F0F0F0;
    color: #808080;
}

.copyright{
    margin-top: 80px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}