<div class="container">
    <div class="row">
    <div class="page_title">
    <h2>予定</h2>
    </div>
        <%= link_to '予定を登録する', new_user_schedule_path, class: "btn btn-primary" %>

    </div>
</div>