// Place all the styles related to the user/actions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date_box{
    width: 100%;
    height: 325px;
    border: 1px solid;
    border-color: #EEEDED;
    margin-top: 10px;
    position: relative;
}

.date_image{
    margin: 10px 30px 10px 10px; 
    float: left;
}

.date_male_name{
    font-size: 20px;
    margin-top: 40px;
    color: #386EFF;
}

.date_female_name{
    font-size: 20px;
    margin-top: 40px;
    color: #FA6A8D;
}

.date_profile{
    font-size: 15px;
    margin-top: 5px;
    padding-bottom: 10px;
}

.date_text{
    margin-top: 10px;
    font-size: 18px;
}

.date_info{
    margin-top: 20px;
    font-size: 15px;
    color: red;
}

// デート予約ボタン
.date_btn_reserve{
    background-color: #4272B4;
    border-color: #E5EAEE;
    border-radius: 20px;
    width: 300px;
    height: 65px;
    text-align: center;
    position: absolute;
    bottom:30px;
    right:40px;
}

.date_font_reserve p{
    color: white;
    font-size: 20px;
    padding-top: 17px;
}

// デート待ちボタン
.date_btn_wait{
    background-color: #299025;
    border-color: #E5EAEE;
    border-radius: 20px;
    width: 300px;
    height: 65px;
    text-align: center;
    position: absolute;
    bottom:30px;
    right:40px;
}

.date_font_wait p{
    color: white;
    font-size: 20px;
    padding-top: 17px;
}

// デート済みボタン
.date_btn_already{
    background-color: #a9a9a9;
    border-color: #E5EAEE;
    border-radius: 20px;
    width: 300px;
    height: 65px;
    text-align: center;
    position: absolute;
    bottom:30px;
    right:40px;
}

.date_font_already p{
    color: white;
    font-size: 20px;
    padding-top: 17px;
}

.user_image{
    text-align: center;
}

.date_show_male_name{
    font-size: 20px;
    text-align: center;
    color: #386EFF;
}

.date_show_female_name{
    font-size: 20px;
    text-align: center;
    color: #FA6A8D;
}

.date_show_profile{
    font-size: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.date_show_btn, .date_edit_btn{
    text-align: center;
}

.date_show_info, .date_edit_info{
    margin-top: 20px;
    font-size: 15px;
    color: red;
    text-align: center;
}

.activity_box{
    float: left;
    margin-bottom: 30px;
    border: 1px solid;
    border-color: #EEEDED;
}

.activity_box:not(:nth-child(4n+1)){
    margin-right: 40px;

}