// Place all the styles related to the user/settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.setting_name{
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}

.setting_prifile{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.setting_menu{
    margin-top: 50px;
}