// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// いいねボタン
.like_btn{
    background-color: #FA6A8D;
    border-color: #E5EAEE;
    border-radius: 20px;
    width: 400px;
    height: 65px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

// デート予約ボタン
.user_show_btn_reserve{
    background-color: #4272B4;
    border-color: #E5EAEE;
    border-radius: 20px;
    width: 400px;
    height: 65px;
    margin-top: 20px;
    text-align: center;
}

.user_show_font_reserve p{
    color: white;
    font-size: 20px;
    padding-top: 17px;
}

// デート待ちボタン
.user_show_btn_wait{
    background-color: #299025;
    border-color: #E5EAEE;
    border-radius: 20px;
    width: 400px;
    height: 65px;
    margin-top: 20px;
    text-align: center;
}

.user_show_btn_wait p{
    color: white;
    font-size: 20px;
    padding-top: 17px;
}

// デート済みボタン
.user_show_btn_already{
    background-color: #a9a9a9;
    border-color: #E5EAEE;
    border-radius: 20px;
    width: 400px;
    height: 65px;
    margin-top: 20px;
    text-align: center;
}

.user_show_font_already p{
    color: white;
    font-size: 20px;
    padding-top: 17px;
}
