// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_box{
    float: left;
    padding-bottom: 30px;
}

.user_box:not(:nth-child(4n+1)){
    padding-right: 40px;

}

.user_name{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.user_profile{
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
}